.contact {
    background: #333b50;
    color: white;
    margin-top: -10em;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px;
}

img {
    margin-right: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

input.ng-invalid.ng-touched {
    border: 1px solid darkred;
}

textarea.ng-invalid.ng-touched {
    border: 1px solid darkred;
}

.wrapper {
    margin: 0 auto;
    padding: 0 20px;
}