<section class="contact container ">

    <div class="row">
        <div class="col-xs-12">
            <h1>05 Contact</h1>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-6">
            <div class="wrapper">
                <h2>Find Me</h2>
                <p>Lorem ipsum dolor sit amet, tis tincidunt. Nam quis est ornare, congue orci ut, lobortis metus</p>
            </div>
            <ul>
                <li>
                    <a href="https://www.facebook.com/29ambalika" target="_blank">
                        <img src="../assets/facebook.png" alt=""> Find me on facebook
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/ambalikasaha/" target="_blank">
                        <img src="../assets/linkedin.png" alt=""> Connect on LinkedIn
                    </a>
                </li>
                <li>
                    <a href="https://www.quora.com/profile/Ambalika-Saha" target="_blank">
                        <img src="../assets/quora.png" alt=""> Follow on Quora
                    </a>
                </li>
            </ul>

        </div>
        <div class="col-xs-6">
            <h3>Or Send me an email!!</h3>
            <form (ngSubmit)="onSendMail()" #f="ngForm">
                <div class="row form-group">
                    <div class="col-xs-12">
                        <input type="text" name="name" id="name" placeholder="name" class="form-control" required ngModel #name="ngModel">
                        <!--<span class="" *ngIf="!name.valid && name.touched">Please enter your name!</span>-->
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12">
                        <input type="text" name="email" id="email" placeholder="Email" class="form-control" required email ngModel #email="ngModel">
                        <!--<span class="help-block" *ngIf="!email.valid && email.touched">Please enter your email!</span>-->
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12">
                        <textarea type="message" name="message" placeholder="Your message" row="4" class="form-control" required ngModel #message="ngModel"></textarea>
                        <!--<span class="help-block" *ngIf="!message.valid && message.touched">Message is required!</span>-->
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-success" [disabled]="!f.valid">Send Mail</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>