<section class="aboutme">
    <div>
        <img class="img-class" src="../../../assets/icona.png" alt="">
    </div>
    <div class="row">
        <p class="p-class">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget nunc in odio ornare cursus quis sit amet dui. In metus est, faucibus eget ex nec, lobortis imperdiet magna. Quisque sit amet diam nec libero aliquam bibendum nec in diam. Praesent gravida
            blandit ante, vitae egestas ipsum. Phasellus consectetur diam et purus maximus ullamcorper. Quisque fermentum risus molestie, posuere ipsum a, egestas sem. Pellentesque gravida, nunc
        </p>
    </div>
    <div>
        <button class="center-class btn-class btn btn secondary"> DOWNLOAD RESUME</button>
    </div>


</section>