<section class="experience container timeline">

    <div class="row">
        <div class="col-xs-12">
            <h1>02 Experience</h1>
        </div>
    </div>
    <ul>
        <li>
            <div>
                <time>2016 ~ present</time>
                <h4>Nextgen HealthCare</h4>
                Senior Software Engineer
            </div>
        </li>
        <li>
            <div>
                <time>2013 ~ 2016</time>
                <h4>Samsung Research India </h4>
                Lead Engineer
            </div>
        </li>
        <li>
            <div>
                <time>2012 ~ 2013</time>
                <h4>Reliance Jio Infocomm </h4>
                Software Developer
            </div>
        </li>
        <li>
            <div>
                <time>2012 ~ 2013</time>
                <h4>Reliance Jio Infocomm </h4>
                Software Developer
            </div>
        </li>
        <li>
            <div>
                <time>2008 ~ 2012</time>
                <h4>B TECH, CSE</h4>
                NIT Agartala
            </div>
        </li>
    </ul>
</section>